* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
}

@keyframes save {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes unsave {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
    }
}

html {
    height: 100%;
    overflow-y: scroll;
    background: #f1f1f1;
}

body{
    height: 100%;
    background-color: #f1f1f1;
}

form{
    height: 100%;
}

/*.geral {
    position: fixed;
    width: 100%;
    margin-top: -95px;
    z-index: 15;
}*/



.header-primaria {
    height: 65px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    background-color: #ffffff;
    padding: 10px 0px 10px 0px;
    position: fixed;
    top: 0;
    z-index: 2;
}

figure{
    margin: 0 !important;
}

.sectionBack {
    width: 100%;
    background-color: #222222;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 65px;
}

.head {
    position: fixed;
    z-index: 15;
    width: 100%;
    margin-top: -95px;
}

.logo-header {
    width: 110px !important;
    height: 55px !important;
    padding: 10px;
    
}

.usuario {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.menuUsuario {
    position: relative;
    display: inline-block;
}

    .menuUsuario:hover {
        cursor: pointer;
    }

    .menuUsuario a {
        color: black;
    }

    .menuUsuario a:hover {
        text-decoration: none;
    }

#litUsuario {
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    border-radius: 5px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }

        .dropdown-content a:hover {
            background-color: #ffffff;
        }

.menuUsuario:hover .dropdown-content {
    display: block;
    background-color: #f1f1f1;
}

.imgPerfil {
    width: 2.4vw;
    height: 2.4vw;
    margin: 10px;
}

.buttons {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 100px;
    height: 80%;
    border: none;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border-radius: 2.5px;
}

    .button:hover {
        cursor: pointer;
    }

.button-log {
    background: none;
}

    .button-log:hover {
        background-color: #f1f1f4;
    }

.button-cad {
    background: #526ACE;
    color: white;
}

    .button-cad:hover {
        background: #293d90;
    }



#btnVoltar {
    padding: 10px;
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 900;
    font-size: 12px;
}

    #btnVoltar:hover {
        cursor: pointer;
    }

.principal {
    min-height: 100%;
    width: 78%;
    background: white;
    margin: auto;
    display: flex;
    justify-content: left;
   /* margin-top: 95px;
    margin-bottom: 35px;*/
}

.corpo {
    
    width: 75%;
    height: 100%;
    padding: 15px;
}

.header-corpo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin-bottom: 10px;
}

.tituloSave{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   padding: 10px;
}

.titulo {
    height: fit-content;
    width: 80%;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 0px !important;
}

#lblDtAval{
    font-size: 14px;
    font-weight: 400;
}

.tags {
    background: deeppink;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 13.5px;
}

.categorias {
    margin-bottom: 0px !important;
    font-weight: 800 !important;
    margin-right: 15px;
    font-size: 18px !important;
}


.tag {
    width: fit-content;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 0px !important;
}

#lblLocalEvento{
    font-size: 15px;
}

#lblDescEvento{
    
    font-size: 15px;
    font-weight: 500;
}

.txtDescricao{
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

#lblNmUser{
    font-size: 14px;
}

#lblArrobaUser {
    font-size: 14px;
}

#lblNmAval {
    font-size: 14px;
}

.carousel {
    width: 100%;
    height: 400px;
}

.carousel-item {
    height: 100%;
}

.carousel-inner {
    height: 400px;
}

    .carousel-inner img {
        height: 100%;
    }

.lateral {
    
    width: 35%;
    height: 100%;
    padding: 15px;
}

.sec-local {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
   
    padding: 10px;
    margin-top: 10px;
}

    .sec-local h2 {
        margin-bottom: 0px !important;
        font-size: 18px !important;
        font-weight: 900;
        margin-right: 15px;
    }

    .sec-local h3 {
        margin-bottom: 0px !important;
        font-size: 15px !important;
        font-weight: 600;
    }

.descricao{
    margin-top: 10px;
    height: fit-content;
}

.tituloDesc{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0px !important;
    padding-top: 5px;
}

.descricao p{
    margin-bottom: 0px !important;
    background: #f1f1f1;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 5px;
}

.chk input {
    display: none;
}

.chk span {
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    background-size: cover;
    border: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: unsave 0.5s ease-in reverse forwards;
    background-image: url(../Images/save.png);
}

.chk input:checked + span {
    animation: save 0.5s ease-in forwards;
    background-image: url(../Images/save2.png);
}

#updBtnSave {
    height: 40px;
}

.lblMedia {
    font-size: 18px;
    margin: 10px;
}

.avaliacaoCriador {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 70%;
}

.imgPerfilAvaliacao {
    width: 2.8vw;
    height: 2.8vw;
    margin-right: 15px;
}

.imgEstrelaMedia {
    width: 1.4vw;
    height: 1.4vw;
    margin: 5px;
}

.estrelaAval{
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}

.nmrMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.avaliacoes {
    display: flex;
    flex-direction: column;
}

.umaAvaliacao {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.infosAvaliador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

.infosNmAtDtAv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.infosNmAtDtAv span{
    font-size: 18px;
}

.infosNmAtDtAv h4 {
    font-size: 15px !important;
    margin-bottom: 0px !important;
}

.infosNmAtDtAv h5 {
    font-size: 15px !important;
    margin-bottom: 0px !important;
}

.infosNmAtDtAv h6 {
    font-size: 15px !important;
    margin-bottom: 0px !important;
}

.notaAvaliacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5%;
}

#lblNotaAvaliacao{
    font-size: 16px;
}

.textoAvaliacao {
    width: 100%;
    font-size: 16px;
    padding: 15px;
    font-weight: 400 !important;
}

.textoAvaliacao span{
    font-weight: 400 !important;
}
   
.suaAvaliacao {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
}

.suaNota {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.estrelas{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ddlEstrelas {
    border: none;
    border-bottom: 1px black solid;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
}

.seuTexto {
    margin-top: 10px;
}

#txtBoxAvaliacao {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 150px;
    padding: 10px 15px;
}

    #txtBoxAvaliacao::placeholder {
        padding: 10px;
        font-size: 15px;
    }

.avaliacaodoCriador{
    margin-top: 10px;
}

.avaliacaodoCriador h2{
    font-size: 18px;
    margin-bottom: 0px !important;
    font-weight: 900;
    padding-top: 10px;
}

.nmrMedia figure{
    margin-bottom: 0px !important;
    padding: 10px;
}

.nmrMedia h3 {
    margin: 0px !important;
    font-weight: 800;
    padding: 10px;
    font-size: 16px !important;
}

.suaAvaliacao h4 {
    margin-bottom: 0px !important;
    font-size: 16px;
    padding-top: 8px;
}

#btnAvaliar {
    height: 30px;
    font-size: 14px;
    font-weight: 800;
    background-color: #526ace;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

    #btnAvaliar:hover {
        color: #f5f5f5;
        background: #8596dc;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }

.responsavel{
    width: 100%;
    height: fit-content;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 5px 0px 0px;
    border: none;
    border-bottom: 1px solid black;
}

    .responsavel p {
        margin-bottom: 0px !important;
        font-size: 14px;
        font-weight: 800;
        color: white;
    }

.titleResp {
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
}

.perfilResp{
    height: 4vw;
    width: 4vw;
    margin: 10px;
}

.nmMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

    .nmMedia a:hover {
        cursor: pointer;
        text-decoration: none;
    }

.notas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notas figure{
    margin: 0 !important;
}

.titleResponsavel {
    margin-bottom: 0px !important;
    font-size: 16px;
}

.notaResp {
    margin-bottom: 0px !important;
    font-size: 15px;
}

.starResp{
    width: 1vw;
    height: 1vw;
}

.arrobaResp{
    font-size: 14px !important;
    margin: 10px;
}

.interesses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    /*padding: 10px;*/
}

#btnInteresse {
    padding: 5px;
    width: 100%;
    font-weight: 800;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 2.5px;
}

.naoInt {
    color: white;
    background: #526ace;
    border: 1px solid #526ace;
    transition: background-color, color, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

    .naoInt:hover {
        transition: background-color, color, border;
        color: #526ace;
        background-color: white;
        border: 1px solid #526ace;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }

.Int {
    color: #526ace;
    background: #ffffff;
    border: 1px solid #526ace;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

    .Int:hover {
        background: #f1f1f4;
        border: 1px solid #f1f1f4;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

.nmrInteresse{
    margin-bottom: 0px !important;
    font-size: 15px;
    padding: 10px;
}

.dtHr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: #f1f1f1;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

table{
    font-size: 12px;
    border: none;
    margin: 5px;
}

th{
    font-size: 14px;
    font-weight: 900;
    color: #526ace;
}

td {
    font-size: 12.5px;
}

#btnDenuncia{
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    color: crimson;
    border: none;
    font-size: 12px;
    margin-top: 10px;
}

#btnDenuncia:hover{
    cursor:pointer;
}

.login{
    background: #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    border: 1px solid #526ace;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: fit-content;
    z-index: 4;
}

.headerLogin{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.headerLogin h4{
    font-size: 16px;
    font-weight: 800;
}

.txtLog{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

#txtData{
    width:100%;
    box-sizing:border-box;
    padding: 5px;
    font-size: 12px;
    border: none;
    margin-bottom: 5px;
    border-radius: 2.5px;
}

#btnLogar {
    width: 100%;
    padding: 5px;
    border: 1px solid #526ace;
    background-color: #526ace;
    color: white;
    border-radius: 5px;
}

#btnSairLogin{
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-top: 5px;
}

#btnSairLogin:hover{
    cursor: pointer;
}

#btnSairCad {
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-top: 5px;
}

    #btnSairCad:hover {
        cursor: pointer;
    }

.cadastrar {
    background: #f1f1f1;
    width: 450px;
    padding: 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #526ace;
    border-radius: 5px;
    z-index: 4;
}

.headerCad{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerCad h4{
    font-size: 16px;
    font-weight: 800;
}

.nms{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.txtCadNm {
    width: 49%;
    padding: 5px;
    font-size: 12px;
    border: none;
    color: black;
    border-radius: 2.5px;
}

.txtCadNm::placeholder{
    color: black;
}

.txtCad{
    width: 100%;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    border: none;
    color: black;
    border-radius: 2.5px;
}

.txtCad::placeholder{
    color: black;
}

.dtNasc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ddlsDtNasc {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.txtCadDt {
    width: 32%;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    border: none;
    color: black;
    border-radius: 2.5px;

}

#lblNasc{
    font-size: 14px;
    margin-bottom: 5px;
}

#ddlSexo {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    border: none;
    color: black;
    border-radius: 2.5px;
}

.sexo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lblSexo{
    font-size: 14px;
    margin-bottom: 5px;
}

#btnCadastrar{
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #526ace;
    border: none;
    font-size: 13.5px;
    border-radius: 2.5px;
}

#btnCadastrar:hover{
    cursor: pointer;
}

.denuncia{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 25%;
    left: 35%;
    border: 1px solid #526ace;
    border-radius: 2.5px;
    background: #f1f1f1;
}

.denuncia h4{
    font-size: 16.5px;
    font-weight: 800;
}

#lblMotivo{
    font-size: 14px;
    font-weight: 800;
}

#ddlMotivos{
    padding: 5px;
    background: #fff;
    font-size: 12px;
    width: 100%;
    border: none;
    border-radius: 2.5px;
    margin-bottom: 5px;
}

#txtBoxDescProb {
    height: 150px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    border-radius: 2.5px;
    border: none;
}

#txtBoxDescProb::placeholder{
    font-size: 12px;
}

#lblDesc {
    font-size: 14px;
    font-weight: 800;
}

#btnDenunciar{
    padding: 5px;
    width: 100%;
    color: white;
    background-color: #526ace;
    font-size: 14px;
    border-radius: 2.5px;
    border: none;
}

#btnSairDenuncia {
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-top: 5px;
}

#btnSairDenuncia:hover{
    cursor: pointer;
}

.error{
    background: green;
}

.pop {
    display: none;
    z-index: 31;
}

.shade {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.50);
    z-index: 3;
    display: none;
}

.shade2 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.50);
    z-index: 3;
    display: none;
}

.shade3 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.50);
    z-index: 3;
    display: none;
}

.hidden{
    display: none !important;
}