* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    font-size: 1vh;
    height: 100%;
}

form {
    height: 100%;
}


body {
    height: 100%;
    background-color: #f1f1f1;
}

@media screen and (min-width: 1920px){
    .icon{
        margin-left: 40px !important;
    }
}

.eventos {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.header {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 0px 10px 0px;
}

.usuario {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}
/* Css do Card*/
.card {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    transition: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #ffffff;
}

    .card:hover {
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        box-shadow: #526ace 0px 0px 0px 2px inset, 
            rgb(255, 255, 255) 10px 10px 0px -3px, 
            #4dade2 10px 10px, 
            rgb(255, 255, 255) 20px 20px 0px -3px, 
            #fcb646 20px 20px;
        /* rgb(255, 255, 255) 10px 10px 0px -3px,
            #7bdf97 10px 10px,
            rgb(255, 255, 255) 20px 20px 0px -3px,
            #d64558 20px 20px;*/
        /*rgb(255, 255, 255) 30px 30px 0px -3px,
            #d64558 30px 30px;*/
        /*rgb(255, 255, 255) 40px 40px 0px -3px,*/
        /*rgb(255, 85, 85)*/ /*#526ace 40px  40px;*/
        transform: scaleX(2), scaleY(2);
    }

.card-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
}

.perfil {
    width: 3vw;
    height: 3vw;
    margin: 5px;
}

.card-header-nome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .card-header-nome h2 {
        font-size: 15px;
    }

    .card-header-nome h5 {
        font-size: 12px;
        font-weight: 400;
    }

.save {
    width: 25px;
    height: 25px;
}

.card-tittle {
    width: 100%;
    padding: 10px;
}

    .card-tittle h2 {
        font-size: 15px;
    }

.card-tags {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

    .card-tags .tag {
        background: #526ACE;
        padding: 5px;
        height: auto;
        margin-right: 0px;
        font-weight: 400;
        margin-top: 0px;
    }

.card-image {
    margin-top: 5px;
    margin-bottom: 5px;
}

.foto-evento {
    width: 290px;
    height: 150px;
    border-radius: 5px;
}

.card-dateTime, .card-local {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between;*/
    font-size: 12px;
    font-weight: 400;
    padding-top: 2%;
}

.date {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
}

.time {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.dateTime, .card-local {
    width: 100%;
    box-sizing: border-box;
}

.calendar-icon, .time-icon, .local-icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.tag {
    background: #D64558;
    width: fit-content;
    /*padding: 0vh;
    padding-left: 1.5vh;
    padding-right: 0.5vh;*/
    height: fit-content;
    border-radius: 20px;
    /* margin-right: 1vw;*/
    font-size: 12px;
    /*margin-top: 0.2vh;*/
    color: white;
    /*padding: 10px;*/
    margin: 5px;
    padding: 2.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Fim do Css do Card*/

/*Css do Menu Dropdown*/
.menuUsuario {
    position: relative;
    display: inline-block;
    font-weight: 900;
}

.dropbtn {
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 900;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
    border-radius: 5px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }


        .dropdown-content a:hover {
            background-color: #ffffff;
        }


.menuUsuario:hover .dropdown-content {
    display: block;
    background-color: #f1f1f1;
}

/*Fim do Menu Dropdown*/

.logo-header {
    width: 90px;
    height: 35px;
    padding: 10px;
}


.imgPerfil {
    width: 2.4vw;
    height: 2.4vw;
    margin: 10px;
}

/*Faixa Voltar #222222*/

.sectionBack {
    width: 100%;
    background-color: #222222;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#btnVoltar {
    padding: 10px;
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 900;
    font-size: 12px;
}

    #btnVoltar:hover {
        cursor: pointer;
    }

/*Fim da Faixa Voltar*/

.nav {
    height: 40px;
    width: 100%;
    /*margin-top: 2vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;*/
    justify-content: left;
    background: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-tags {
    width: 100%;
    display: flex;
    justify-content: left;
}

.tag {
    background: #D64558;
    width: fit-content;
    /*padding: 0vh;
    padding-left: 1.5vh;
    padding-right: 0.5vh;*/
    height: fit-content;
    border-radius: 20px;
    /* margin-right: 1vw;*/
    font-size: 12px;
    /*margin-top: 0.2vh;*/
    color: white;
    /*padding: 10px;*/
    margin: 5px;
    padding: 2.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filtros {
    height: fit-content;
    width: 15%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}

    .filtros::-webkit-scrollbar {
        width: 0.3vw;
    }

    .filtros::-webkit-scrollbar-track {
        background: #11111147;
    }

    .filtros::-webkit-scrollbar-thumb {
        background: #1111118c;
        border-radius: 20px;
        border: 1px solid #11111147;
    }

.filtros-titulos {
    font-size: 15px;
    margin-bottom: 5px;
}

.filtros-subtitulos {
    font-weight: 500;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 0px;
    border: none;
    border-radius: 2.5px;
}

.categoria:hover {
    background: #D64558;
    color: white;
    cursor: pointer;
}

.verMais {
    color: #526ACE;
}

    .verMais:hover {
        background: none;
        font-weight: bold;
    }

.txt {
    width: 90%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    padding-left: 2rem;
}

.txtLocal {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #526ace;
    margin: 10px 10px 20px 0px;
}

    .txtLocal::placeholder {
        padding: 5px;
        color: black;
        font-weight: 400;
        font-size: 12px;
    }


.data {
    font-size: 2rem;
    height: 3vh;
}

.aval {
    margin-top: 2vh;
}

.dpdAval {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #526ace;
    font-size: 12px;
    padding: 5px;
}

    .dpdAval::selection {
        background: #D64558;
    }

.date {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
}

.time {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.dateTime, .card-local {
    width: 100%;
    box-sizing: border-box;
}

.calendar-icon, .time-icon, .local-icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.principal {
    display: flex;
    justify-content: left;
    background: #f1f1f1;
    height: 100%;
}

.corpo {
    width: 100%;
}

/*.txtIcon {
    margin: 1.5vh 1vw;
    width: 95.5%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    
}*/

.icon {
    width: 26px;
    height: 26px;
}

.txtPesquisa {
    border-radius: 0px;
    border: none;
    background-color: transparent;
    width: 95%;
}

.boxPesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.meusEventos{
    background-color: #ffffff;
    border-bottom: 1px solid black;
    font-size: 2.2vh;
}

.btns{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btnCriarEvento {
    padding: 10px;
    color: white;
    background-color: #526ace;
    border:  1px solid #526ace;
    border-radius: 5px;
    font-weight: 800;
    transition: background-color, color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

    #btnCriarEvento:hover {
        transition: background-color, color, border;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        background-color: white;
        color: #526ace;
        border: 1px solid #526ace;
        cursor: pointer;
    }


    .txtLocal::placeholder {
        padding: 5px;
        color: black;
        font-weight: 400;
        font-size: 12px;
    }

.dt {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 1vh;
    font-size: 12px;
    border: 1px solid #526ace;
    border-radius: 25px;
    padding: 5px;
}

.data {
    font-size: 2rem;
    height: 3vh;
}

.aval {
    margin-top: 2vh;
}

.dpdAval {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #526ace;
    font-size: 12px;
    padding: 5px;
}

    .dpdAval::selection {
        background: #D64558;
    }

.txtIcon {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
}

.inputPesquisa {
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    padding: 10px;
}

.icon {
    width: 26px;
    height: 26px;
    margin-left: 15px;
   /* display: flex;
    align-self: flex-end;*/
}

.txtPesquisa {
    box-sizing: border-box;
    border-radius: 0px;
    border: none;
    background-color: transparent;
    width: 95%;
}

a{
    text-decoration: none;
    color: black;
}
