* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
}

body {
    background-color: #f1f1f1;
    height: 100%;
}

form {
    height: 100%;
}

.all {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    width: 70%;
    height: fit-content;
    min-height: 1vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

html {
    height: 100%;
    font-size: 1vh;
    overflow-y: scroll;
}

.header {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 0px 10px 0px;
}

.usuario {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.menuUsuario {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    border-radius: 5px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }


        .dropdown-content a:hover {
            background-color: #ffffff;
        }


.menuUsuario:hover .dropdown-content {
    display: block;
    background-color: #f1f1f1;
}

.logo-header {
    width: 90px;
    height: 35px;
    padding: 10px;
}

.imgPerfil {
    width: 2.4vw;
    height: 2.4vw;
    margin: 10px;
}

/*Faixa Voltar #222222*/

.sectionBack {
    width: 100%;
    background-color: #222222;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#btnVoltar {
    padding: 10px;
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 900;
    font-size: 12px;
}

    #btnVoltar:hover {
        cursor: pointer;
    }

/*Fim da Faixa Voltar*/

ul {
    list-style: none;
}

.imgperfilUser {
    width: 6.5vw;
    height: 6.5vw;
}

.user {
    height: fit-content;
    width: 80%;
}

.perfilUsuario {
    border-bottom: 1px solid black;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preferencias {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prefs {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.preferencias h3 {
    font-size: 18px;
    font-weight: 900;
}

.preferencias li {
    font-size: 14px;
    margin: 5px;
}

#btnEditarPreferencias {
    padding: 5px;
    background-color: #526ace;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 1px solid #526ace;
    font-size: 12px;
}

    #btnEditarPreferencias:hover {
        cursor: pointer;
        background-color: white;
        border: 1px solid #526ace;
        color: #526ace;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

.nmUser {
    margin: 10px;
}

.userTUsuario {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nmCompleto {
    font-size: 28px;
}

.arroba {
    font-size: 15px;
    margin: 10px;
}

.tipoUsuario {
    font-size: 12px;
    margin: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
}

.infosUsuario {
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 15px 15px 0px 15px;
}

.informacoes {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloDados {
    font-size: 20px;
    margin: 10px;
}

.divInfo {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}


.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: #526ace;
}

#btnExcluirConta {
    margin: 10px;
    color: crimson;
    padding: 5px;
    width: 90%;
    border: none;
    background-color: white;
}

    #btnExcluirConta:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.tag {
    background: #D64558;
    width: fit-content;
    height: 19px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    margin: 5px;
    padding: 6px;
    padding-left: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#meusEventos {
    margin: 20px 15px;
    margin-bottom: 0px;
    font-size: 20px;
}

.event-manager {
    display: flex;
    justify-content: center;
}

.eventos {
    display: flex;
    width: 100%;
    padding: 5px 0px 10px 0px;
    margin: 10px 0px 10px 30px;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 40px;
}

/* Css do Card*/
.card {
    width: 290px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    transition: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #ffffff;
}

    .card:hover {
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        box-shadow: #526ace 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px 10px 0px -3px, #4dade2 10px 10px, rgb(255, 255, 255) 20px 20px 0px -3px, #fcb646 20px 20px;
        /* rgb(255, 255, 255) 10px 10px 0px -3px,
            #7bdf97 10px 10px,
            rgb(255, 255, 255) 20px 20px 0px -3px,
            #d64558 20px 20px;*/
        /*rgb(255, 255, 255) 30px 30px 0px -3px,
            #d64558 30px 30px;*/
        /*rgb(255, 255, 255) 40px 40px 0px -3px,*/
        /*rgb(255, 85, 85)*/ /*#526ace 40px  40px;*/
        transform: scaleX(2), scaleY(2);
    }

.card-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
}

.perfil {
    width: 3vw;
    height: 3vw;
    margin: 5px;
}

.card-header-nome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .card-header-nome h2 {
        font-size: 15px;
    }

    .card-header-nome h5 {
        font-size: 12px;
        font-weight: 400;
    }

.save {
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    background-size: cover;
    border: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}

.salvo, naoSalvo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.salvo {
    animation: save 0.5s ease-in forwards;
    background-image: url(../Images/save2.png);
}

.naoSalvo {
    animation: unsave 0.5s ease-in reverse forwards;
    background-image: url(../Images/save.png);
}

#updBtnSave {
    height: 40px;
}

.card-tittle {
    width: 96%;
    padding: 10px;
}

    .card-tittle h2 {
        font-size: 15px;
    }

.card-tags {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

    .card-tags .tag {
        background: #526ACE;
        padding: 5px;
        height: auto;
        margin-right: 0px;
        font-weight: 400;
        margin-top: 0px;
    }

.card-image {
    margin-top: 5px;
    margin-bottom: 5px;
}

.foto-evento {
    width: 290px;
    height: 150px;
    border-radius: 5px;
}

.card-dateTime, .card-local {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    padding-top: 2%;
}

.date {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
}

    .date h3 {
        font-size: 13px;
    }

.time {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    color: #000;
    font-palette: dark;
}

.dateTime, .card-local {
    width: 100%;
    box-sizing: border-box;
}

.calendar-icon, .time-icon, .local-icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
/*Fim do Css do Card*/

.hidden {
    display: none !important;
}

.Excluir {
    box-shadow: 5px 5px 8px black;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    border-radius: 5px;
}

.preferencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    background-color: #f1f1f1;
    padding: 30px;
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    border-radius: 5px;
}

.h3 {
    font-size: 3rem;
}

.boxBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px;
}

.btnBox {
    border: none;
    background-color: #526ace;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    padding: 5px;
    color: white;
    margin: 10px;
}

.editar {
    width: 80%;
    height: 35px;
    margin: 10px;
    background-color: #526ace;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.ulEdit {
    font-size: 16px;
}

.h3Edit {
    font-size: 20px;
}

#alteraSenha {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #526ace;
    font-size: 15px;
}

.senha {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 25%;
    left: 35%;
    border: 1px solid #526ace;
    border-radius: 2.5px;
    background-color: #f1f1f1;
}

.pop {
    display: none;
    z-index: 31;
}

.btnSenha {
    width: 80%;
    height: 35px;
    margin: 10px;
    background-color: #526ace;
    border: none;
    color: white;
    padding: 5px;
}

.Fechar {
    width: 80%;
    height: 35px;
    margin: 10px;
    margin-top: 0px;
    border: none;
    color: black;
    margin-top: 5px;
}

.inputSenha {
    width: 95%;
    height: 35px;
    border: none;
    margin: 10px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.title{
    font-size: 18px;
    width: 25%;
}

.shade {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 2;
    display: none;
}