* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    font-size: 1vh;
    height: 100%;
}

form {
    height: 100%;
}


body {
    height: 100%;
    background-color: #f1f1f1;
}

.header {
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    align-content: center;
    height: 9vh;
    background: #fff;
}

.usuario {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

/*A partir daqui Css do card apenas*/

.card {
    width: 23.63vw;
    height: fit-content;
    background: #fff;
    border-radius: 20px;
    padding: 1.5vh 1vw;
    border: 1px solid black;
    margin: 10px;
    transition: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

    /*.card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.6);
    }*/

.card-header {
    display: flex;
    justify-content: left;
}

.perfil {
    width: 4vw;
    height: 4vw;
}

.card-header-nome {
    padding-top: 1.5vh;
    padding-left: 0.8vw;
    width: 100%;
}

    .card-header-nome h2 {
        font-size: 2.5rem;
    }

    .card-header-nome h5 {
        font-size: 2rem;
        font-weight: 400;
    }

.save {
    width: 25px;
    height: 25px;
    margin-top: 1vh;
    margin-right: 0.5vw;
}

.card-tittle {
    margin-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

    .card-tittle h2 {
        font-size: 4rem;
    }

.card-tags {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5vh;
}

    .card-tags .tag {
        background: #526ACE;
        padding: 1vh;
        height: auto;
        margin-right: 0px;
        font-weight: 400;
        margin-top: 0px;
    }

.card-image {
    margin-top: 1.5vh;
}

.foto-evento {
    width: 23.28vw;
    height: 21.12vh;
}

.card-dateTime, .card-local {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    font-weight: 400;
}

.date {
    width: 100%;
}

.dateTime, .card-local {
    margin-top: 1.5vh;
    padding-right: 0.5vw;
}

.calendar-icon, .time-icon, .local-icon {
    width: 16px;
    height: 16px;
    margin-right: 0.5vw;
}

.tag {
    font-size: 2.5vh;
    border-radius: 50px;
}

/*Fim do Css do Card*/

/*Css do Menu Dropdown*/
.menuUsuario {
    position: relative;
    display: inline-block;
    font-weight: 900;
}

.dropbtn {
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 900;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 5px;
    border-radius: 5px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }


        .dropdown-content a:hover {
            background-color: #ffffff;
        }


.menuUsuario:hover .dropdown-content {
    display: block;
    background-color: #f1f1f1;
}

/*Fim do Menu Dropdown*/

.logo-header {
    width: 9vw;
    height: 7.5vh;
    margin-top: 1vh;
    margin-left: 1vw;
}

.imgPerfil {
    width: 2.8vw;
    height: 6vh;
    margin: 10px;
}

/*Faixa Voltar #222222*/

.sectionBack {
    width: 100%;
    background-color: #222222;
    height: fit-content;
}

#btnVoltar {
    padding: 10px;
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 900;
}

    #btnVoltar:hover {
        cursor: pointer;
    }

/*Fim da Faixa Voltar*/

.nav {
    height: 6vh;
    width: 97.5%;
    margin-top: 2vh;
    padding-top: 2vh;
    padding-left: 1.5vw;
    padding-right: 1vw;
    justify-content: left;
    background: #333333;
}

.section-tags {
    width: 100%;
    display: flex;
    justify-content: left;
}

.tag {
    background: #D64558;
    padding: 0.7vh;
    padding-left: 1.5vh;
    height: 4.8vh;
    border-radius: 20px;
    margin-right: 1vw;
    font-size: 2.2rem;
    margin-top: -0.9vh;
    color: white;
}

.principal {
    display: flex;
    justify-content: left;
    background: #f1f1f1;
    height: 100%;
}

.filtros {
    height: auto;
    background: #fff;
    /*box-shadow: 15px 0px 10px -15px #11111161;*/
    padding: 2vh 1vw 3vh 1.5vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

    /*.filtros:hover {
        overflow-y: scroll;
    }*/

    .filtros::-webkit-scrollbar {
        width: 0.3vw;
    }

    .filtros::-webkit-scrollbar-track {
        background: #11111147;
    }

    .filtros::-webkit-scrollbar-thumb {
        background: #1111118c;
        border-radius: 20px;
        border: 1px solid #11111147;
    }

.filtros-titulos {
    font-size: 3rem;
    margin-bottom: 1.5vh;
}

.filtros-subtitulos {
    font-weight: 400;
    background: none;
    width: auto;
    display: grid;
    padding: 1vh;
}

.categoria{
    border: none;
}

.categoria:hover {
    background: #D64558;
    color: white;
}

.verMais {
    color: #526ACE;
    border: none;
}

    .verMais:hover {
        background: none;
        font-weight: bold;
    }

.txt {
    width: 90%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    padding-left: 2rem;
}

.txtLocal {
    margin-bottom: 3vh;
}

.dt {
    width: 95%;
    margin-bottom: 1vh;
}

.data {
    font-size: 2rem;
}

.aval {
    margin-top: 2vh;
}

.dpdAval {
    width: 95%;
    border: none;
    border-bottom: 1px solid black;
}

    .dpdAval::selection {
        background: #D64558;
    }

.corpo {
    width: 100%;
}

.txtIcon {
    margin: 1.5vh 1vw;
    width: 95.5%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    
}

.icon {
    width: 26px;
    height: 26px;
}

.txtPesquisa {
    border-radius: 0px;
    border: none;
    background-color: transparent;
    width: 95%;
}

.boxPesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.meusEventos{
    background-color: #ffffff;
    border-bottom: 1px solid black;
    font-size: 2.2vh;
}

.btns{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btnCriarEvento{
    padding: 10px;
    color: white;
    background-color: #526ace;
    border: none;
    border-radius: 5px;
    font-weight: 800;
}
